#bckContainer{
    height : 100%;
    width: 100%;
  }
  body{
    margin: 0 auto;
    background-color: #e0e0e0;
    min-height: 100%;
    min-width: 100%;
  }
  #searchbarDiv{
    display: grid;
    position: relative;
    background-image: url(	https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  
    min-height: 480px;
    place-items: center;
  }
  #searchbar{
    border: 1px solid;
    border-color:  #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 26%;
    outline: none;
  }
  #city{
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
  }
  .cityImage{
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    place-items: center;
    justify-content: space-around;
  }
  #viewMoreButton{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  .bckgroundColor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    border-radius: 25%;
    opacity: 0;
  }
  .bckgroundColor:hover{
  opacity: 1;
  }
  .bckgroundColor p{
    color: #f1f1f1;
  }