body{
    margin: 0;
    background-color: #e0e0e0;
    height: 100vh;
    width: 100vw;
}
#Maincontainer{
    text-align: center;
    height: 100%;
    width: 100%;
}

.btn-check{
    visibility: hidden;
}
#container .btn-check:checked + .btn-outline-primary{
    box-shadow: none;
    color: black;
    background-color: #0d6efd;
}
#container .btn-outline-primary{
    border: none;
    color: black;
}
#container label{
    margin-top: 2%;
}
#listview{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

#list-view-button:checked~ #listviewBtn{
    display: flex;
}

#map-view-button:checked~#mapViewBtn{
    display: flex;
    justify-content: center;
}
#list-view-button:checked~ #mapViewBtn{
display: none;
}
#map-view-button:checked~ #listViewBtn{
    display: none;
}
#listViewBtn > div{
    margin-left: 6%;
}
#listViewBtn::after{
    content: "";
    display: table;
    clear: both;
}
.hotelDiv {
    display: flex;
       float: left;
    margin:2%;
    background-color: lightgray;
    width: 40%;
}
.hotelDiv:hover{
    background-color: rosybrown;
}
.descriptionClass{
    margin-left: 4%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hotelImg{
    height: 200px;
    width: 250px;
}